<!-- Section: Design Block -->
<body class="container-fluid bg-image  ">
    

<section class="container form">

  
    <div class="card mx-4 mx-md-5 shadow-5-strong" >
      <div class="card-body py-5 ">
  
        <div class="row d-flex justify-content-center ">
          <div class="col-lg-10" >
            <h2 class="fw-bold mb-5 text-center">AJOUTER UN UTILISATEUR</h2>
            <form >
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                   
                    <label class="form-label " for="form3Example1">PRENOM</label>
                    <input type="text" id="form3Example1" class="form-control input" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                  
                    <label class="form-label text-left" for="form3Example2">NOM</label>
                    <input type="text" id="form3Example2" class="form-control input" />
                  </div>
                </div>
              </div>
  
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                   
                    <label class="form-label" for="form3Example1">ADRESSE EMAIL</label>
                    <input type="text" id="form3Example1" class="form-control input" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label for="inputState" class="form-label">ROLE</label>
                    <select id="role" name="role" class="form-select">
                        <option selected></option>
                        <option value="1">Admin</option>
                        <option value="2">User</option>
                      </select>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example1">MOT DE PASSE</label>
                    <input type="text" id="form3Example1" class="form-control input" />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <label class="form-label" for="form3Example2">CONFIRMATION</label>
                    <input type="text" id="form3Example2" class="form-control input" />
                  </div>
                </div>
              </div>
  
  
              <!-- Submit button -->
              <button type="submit" class="btn">
                <span class="boutton">inscrire</span>  
              </button>
  
             
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
  <!-- Section: Design Block -->