<header>
    <div class="d-flex container top justify-content-center">
        <div class="d-flex col-6 m-2 bloc">
            <h4 class="text-primary" style="margin-top: 3%;">À l'instant</h4>
            <div style="margin-left: 5%;">
                <p><i class="bi bi-thermometer-half"></i> TEMPÉRATURE</p>
                <p><i class="bi bi-droplet-half"></i> HUMIDITÉ</p>
            </div>
        </div>
        <div class="d-flex col-6 m-2 bloc">
            <h4 class="text-primary" style="margin-top: 3%;">Moyenne</h4>
            <div style="margin-left: 5%;">
                <p><i class="bi bi-thermometer-half"></i> TEMPÉRATURE</p>
                <p><i class="bi bi-droplet-half"></i> HUMIDITÉ</p>
            </div>
        </div>
    </div>
    <!-- --------------------------Paramètrage------------------- -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasRightLabel">Paramétres</h4>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <button type="button" class="btn btn-outline-info my-3">
                    <i style="font-size: 20px;" class="bi bi-person"></i> Profil
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-outline-info">
                    <a (click)="logout()" *ngIf="this.authService.isLoggedIn">
                    <i style="font-size: 20px;" class="bi bi-box-arrow-right"></i> Deconnexion </a> 
                </button>
            </div>
        </div>
    </div>
</header>