<header>
    <div class="d-flex container top justify-content-center">
        <div class="d-flex col-6 m-2 bloc">
            <h4 class="text-info" style="margin-top: 3%;">À l'instant</h4>
            <div style="margin-left: 10%;">
                <div class="d-flex"><i class="bi bi-thermometer-half"></i> 
                    <p>TEMPÉRATURE : </p>
                    <h3 class="text-primary" style="margin-left: 50px; margin-top: -5px;"> {{ temperature }} °C</h3>
                </div>
                <div class="d-flex"><i class="bi bi-droplet-half"></i> 
                    <p>HUMIDITÉ : </p>
                    <h3 class="text-primary" style="margin-left: 85px; margin-top: -5px;"> {{ humidity }} %</h3>
                </div>
            </div>
        </div>
        <div class="d-flex col-6 m-2 bloc">
            <h4 class="text-info" style="margin-top: 3%;">En Moyenne</h4>
            <div style="margin-left: 10%;">
                <div class="d-flex"><i class="bi bi-thermometer-half"></i> 
                    <p>TEMPÉRATURE : </p>
                    <h3 class="text-primary" style="margin-left: 50px; margin-top: -5px;">  °C</h3>
                </div>
                <div class="d-flex"><i class="bi bi-droplet-half"></i> 
                    <p>HUMIDITÉ : </p>
                    <h3 class="text-primary" style="margin-left: 85px; margin-top: -5px;"> %</h3>
                </div>
            </div>
        </div>
    </div> 
</header>