.header{
    justify-content: space-between;
    height: 50px;
}
.btn-link, h5, .bi-house-fill{
    color: #fff;
}
.top{
    background-color: #fff;
    width: 100%;
    height: 90px;
    
    }
    .bloc{
        border: 2px solid #E4F2F6;
        border-radius: 5px;
        padding: 5px;
        height: 75px;
        width: 40%;
    }