body{
   background-color:#E4F2F6 ; 
    

}
.container{
    margin: 0px auto;
    border: 2px solid blue;
    box-shadow: 7px 2px 2px blue;
    border-radius: 5px;
    background: #fff;
    height: 500px;
}