<body class="d-flex">
<div class="container tab my-5">
    <!-- -------------------Recherche---------------- -->
    <div class="form-group col-md-3 search">
      <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-search"></i></span>
      <input
        type="text"
        class="form-control"
        placeholder="Rechercher un utilisateur"
        [(ngModel)]="filterTerm"/>
      </div>
    </div>
    
      <table class="table table-hover w-100 my-3">
        <thead>
            <tr class="line">
              <th scope="col">Matricule</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Rôle</th>
                <th *ngIf="this.currentUser.role === 'Utilisateur'" scope="col">Date inscription</th>
                <th *ngIf="this.currentUser.role === 'Administrateur' || 'Super_admin'" scope="col">Actions</th>
            </tr>
        </thead>
        <!-- Recuperer et afficher les informations de la base de donnée -->
        <tbody *ngFor="let donnee of Users | filter: filterTerm | paginate: {itemsPerPage:6, currentPage:page, totalItems:totalLenght}">
          <tr *ngIf="(donnee._id !== this.currentUser._id) && (donnee.role !== 'Super_admin')"> <!-- Pour filter l'utilisateur qui est connecté -->
                <td>{{ donnee.matricule }}</td>
                <td>{{ donnee.prenom }}</td>
                <td>{{ donnee.nom }}</td>
                <td>{{ donnee.email }}</td>
                <td>{{ donnee.role }}</td>
                <td *ngIf="this.currentUser.role === 'Administrateur' || 'Super_admin'">
                  <button title="Archiver" class="btn link" (click)="archiver(donnee._id, donnee.etat)">
                    <i class="bi bi-arrow-down-square"></i>
                  </button>
                  <button title="Modifier" class="btn link" data-toggle="modal" data-target="#modifier" (click)="getUserData(donnee._id,donnee.prenom,donnee.nom,donnee.email)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button title="Switch" class="btn link" (click)="switcher(donnee._id, donnee.role)">
                    <i class="bi bi-arrow-left-right" ></i>
                  </button>
                </td>
                <td *ngIf="this.currentUser.role === 'Utilisateur'">{{ donnee.createdAt | date:'d MMMM yyyy à HH:mm'}} </td>
            </tr>
        </tbody>
      </table>
    </div>
  <!-- ------------------------Pagination---------------------- -->
<div class="pagination fixed-bottom justify-content-center">
    <pagination-controls (pageChange)="page=$event"></pagination-controls>
</div>
</body>  
<!-- Modal pour la modification -->
<div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier l'utilisateur</h5>
      </div>
      <div *ngIf="!errMsg" class="alert alert-danger" role="alert">
        <strong> Erreur </strong> Email déjà existant !
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup" (ngSubmit)="onUpdate()">
          <label for='prenom'>Prenom</label>
          <input type="text" formControlName="prenom" class="form-control">
          <div *ngIf="submitted && formGroup.controls['prenom'].errors" class="text-danger">
            <div *ngIf="submitted && formGroup.controls['prenom'].errors['required']">
              Veillez renseignez le prenom
            </div>
            <div *ngIf="submitted && formGroup.controls['prenom'].errors['cannotContainSpace']">
              Espace non autorisé
            </div>
          </div>
          <br />
          <label for='nom'>Nom</label>
          <input type="text" formControlName="nom" class="form-control">
          <div *ngIf="submitted && formGroup.controls['nom'].errors" class="text-danger">
            <div *ngIf="submitted && formGroup.controls['nom'].errors['required']">
              Veillez renseignez le nom
            </div>
            <div *ngIf="submitted && formGroup.controls['nom'].errors['cannotContainSpace']">
              Espace non autorisé
            </div>
          </div>
          <br />
          <label for='email'>Adresse email</label>
          <input type="email" formControlName="email" class="form-control">
          <div *ngIf="submitted && formGroup.controls['email'].errors" class="text-danger">
            <div *ngIf="submitted && formGroup.controls['email'].errors['required']">
              Veillez renseignez le mail
            </div>
            <div *ngIf="submitted && formGroup.controls['email'].errors['email']">
              Le mail n'est pas valide!'
          </div>
          </div>
          <br />
          <button type="submit" class="btn btn-outline-primary">Sauvegarder</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">
          <i style="font-size: 20px;" class="bi bi-backspace"></i>
        </button>
      </div>
    </div>
  </div>
</div>