
   .img{
    width: 35px;
    height: 35px;
    }
    .img2{
        width: 140px;
        height: 140px;
        margin-top: 40px;
    }
    .img1{
        width: 200px;
        height: 200px;
    }
    .img2{
        width: 140px;
        height: 140px;
        margin-top: 40px;
    }
    .middles{
        margin: 20px;
        margin-top: 60px;
        background-color: #fff;
        border-radius: 7px;
        width: 250px;
        height: 120px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .ctrl{

        margin-top: 50px;
        width: 300px;
        height: 250px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .hist{
        width: 800px;
        height: 250px;
        margin-top: 50px;
        margin-left: 2%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
