<div class="d-flex middle justify-content-center">
    <div class="col-4 middles">
        <div class="d-flex justify-content-center">
            <h4>8H 00</h4>
            <img class="img" src="../../../assets/lever-soleil.png" alt="">
        </div>
        <div class="m-3">
            <p><i class="bi bi-thermometer-half"></i> Temperature</p>
            <p><i class="bi bi-droplet-half"></i> Humidité</p>
        </div>
    </div>
    <div class="col-4 middles">
        <div class="d-flex justify-content-center">
            <h4>12H 00</h4>
            <img class="img" src="../../../assets/soleil-chaud.png" alt="">
        </div>
        <div class="m-3">
            <p><i class="bi bi-thermometer-half"></i> Temperature</p>
            <p><i class="bi bi-droplet-half"></i> Humidité</p>
        </div>
    </div>
    <div class="col-4 middles">
        <div class="d-flex justify-content-center">
            <h4>19H 00</h4>
            <img class="img" src="../../../assets/lune.png" alt="">
        </div>
        <div class="m-3">
            <p><i class="bi bi-thermometer-half"></i> Temperature</p>
            <p><i class="bi bi-droplet-half"></i> Humidité</p>
        </div>
    </div>
</div>

<div class="d-flex end">

    <div class="hist">
        <h4 class="text-primary text-center m-2">Historique de la semaine</h4>
    </div>
</div>