
@media  screen and (max-width: 600px){

    aside{
        float: right;
        
    }
    .navig{
        margin-top: 50%;
    }
    aside,div,p,a{
        color: #fff;
    }
    p{
        display: none;
    }


}

body{
    background-color: #E4F2F6;
    height: 100%;
}
a{
    text-decoration: none;
    color: #5BC0DE;
}
.navig{
    background-color: #fff;
    width: 80px;
    height: 1000px;
    margin-right: auto;
    position: absolute;
}
img{
    width: 80px;
    height: 300px;
}
.header{
    justify-content: space-between;
    height: 50px;
}
.btn-link, h5, .bi-house-fill{
    color: #fff;
}
.bi-person-check, .bi-person-x, .bi-plus-circle, .bi-house-fill, .bi-gear-fill{
    margin-left: 25%;
    margin-top: 10%;
    color: #fff;
}
p{
    margin-left: 45%;
    margin-top: 20%;
    display: none;
}
.icons{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.navig:hover{
    width: 200px;
}
.navig:hover img{
    width: 200px;
}
.navig:hover p{
    display: block;
}

