<br><br>
<aside>
    <div class="navig">
        <div class="">
            <img *ngIf="this.temperature >= 30" src="../../../assets/soleil.jpg" alt="">
            <img *ngIf="this.temperature < 30" src="../../../assets/humidite.jpg" alt="">
        </div>
        <div class="d-flex icons m-3 bg-info">
            <i style="font-size: 25px;" class="bi bi-person-check"></i>
            <p><a style="color: #5BC0DE;" (click)="affiche2()">Actifs</a></p>
        </div>
        <div *ngIf="this.currentUser.role === 'Administrateur' || 'Super_admin'" class="d-flex icons m-3 bg-info">
            <i style="font-size: 25px;" class="bi bi-person-x"></i>
            <p><a style="color: #5BC0DE;" (click)="affiche3()">Archivé(e)s</a></p>
        </div>
        <div *ngIf="this.currentUser.role === 'Super_admin'" class="d-flex icons m-3 bg-info">
            <i style="font-size: 25px;" class="bi bi-plus-circle"></i>
            <p><a style="color: #5BC0DE;" (click)="affiche4()">Ajouter</a></p>
        </div>
    </div>
</aside>

    <div class="d-flex bg-primary header fixed-top">
        <div class="d-flex m-2">
            <a (click)="affiche1()"><i style="font-size: 25px;" class="bi bi-house-fill"></i></a>&nbsp;&nbsp;
            <h5 class="m-2">{{ this.currentUser.prenom }} {{ this.currentUser.nom }}</h5>
        </div>
        <button class="btn btn-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight">
            <i style="font-size: 25px;" class="bi bi-gear-fill"></i>
        </button>
    </div>
    <app-header></app-header>
    

<body class="d-flex">
    <div class="container">
        <app-content-accueil *ngIf="showAcceuil"></app-content-accueil>
        <app-table-actifs *ngIf="showActifs"></app-table-actifs>
        <app-table-archives *ngIf="showArchive"></app-table-archives>
        <app-inscription *ngIf="showInscription"></app-inscription>
        <app-profil *ngIf="showProfil"></app-profil>
        <!-- <app-socket *ngIf="showSocket"></app-socket> -->
    </div>
</body>

 <!-- --------------------------Paramètrage------------------- -->
 <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h4 class="offcanvas-title" id="offcanvasRightLabel">Paramétres</h4>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            <button (click)="affiche5()" type="button" class="btn btn-outline-info my-3" data-bs-dismiss="offcanvas">
                <i style="font-size: 20px;" class="bi bi-person"></i> Profil
            </button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-info">
                <a (click)="logout()" *ngIf="this.authService.isLoggedIn">
                <i style="font-size: 20px;" class="bi bi-box-arrow-right"></i> Deconnexion </a> 
            </button>
        </div>
    </div>
</div>