
@media  screen and (max-width: 700px){

    aside{
        margin-right: 40%;
        float: right;
        
    }
    aside .navig{
        background-color:transparent;
    }
    .navig{
        display: flex;
        flex-wrap: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        height: 30px;

    }
    div.header{
        position: relative;
        justify-content: space-between;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;


    }
    div .icons{
        width: 60px;
        height: 60px;
        padding: 10px;
        border-radius: 50%;
    }
}

@media  screen and (max-width: 400px){

    .navig{
        width: 100%;
        display: flex;
        margin-top: 7%;
        flex-wrap: nowrap;
        align-items:flex-start;
        justify-content:flex-start;
       

    }


    div .icons{
        display: flex;
        flex-wrap: wrap;
        float: left;
        justify-content: center;
        align-items: center;

    } 
 /*    .navig{
        display: none;
    } */


}

body{
    background-color: #E4F2F6;
    height: 100%;
}
a{
    text-decoration: none;
    color: #5BC0DE;
}
.navig{
    background-color: #fff;
    width: 80px;
    height: 1000px;
    margin-right: auto;
    position: absolute;
}
img{
    width: 80px;
    height: 300px;
}
.header{
    justify-content: space-between;
    height: 50px;
}
.btn-link, h5, .bi-house-fill{
    color: #fff;
}
.bi-person-check, .bi-person-x, .bi-plus-circle, .bi-house-fill, .bi-gear-fill{
    margin-left: 25%;
    margin-top: 10%;
    color: #fff;
}
p{
    margin-left: 45%;
    margin-top: 20%;
    display: none;
}
.icons{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.navig:hover{
    width: 200px;
}
.navig:hover img{
    width: 200px;
}
.navig:hover p{
    display: block;
}

