img{
    width: 780px;
    height: 450px;
    margin-left: 18%;
    margin-top: 9%;
}
.container{
    margin-top: -36%;
    margin-left: 50%;
}
.row {
    width: 330px;
    height: 500px;
    background: #E4F2F6;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: absolute;
}
.row form {
    padding: 20px; 
}

