<!-- Background image -->
<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
          <form class="bg-white  rounded-5 shadow-5-strong p-5" [formGroup]="formGroup" (ngSubmit)="loginUser()">
            <ng-container *ngIf="this.errMsg">
              <div class="alert alert-danger" role="alert"><strong> Erreur </strong> {{errMsg}}</div>
            </ng-container>
            <h3 class="text-center text-primary m-5">Page de connexion</h3>
            <!-- Email input -->
            <div class="form-outline mb-4 form-group inputs">
              <label class="form-label" for="form1Example1">Adresse email</label>
              <input type="email" id="form1Example1" class="form-control" formControlName="email" />
              <div
                *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors && formGroup.controls.email.errors.required"
                class="text-danger">
                L' email est requis
              </div>
              <div
                *ngIf="formGroup.controls.email.dirty && formGroup.controls.email.errors && formGroup.controls.email.errors.email"
                class="text-danger">
                email est invalide
              </div>
            </div>
            <!-- Password input -->
            <div class="form-outline mb-4 form-group inputs">
              <label class="form-label" for="password">Mot de passe</label>
              <input type="password" id="form1Example2" class="form-control" formControlName="password" />
              <div
                *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.errors&&formGroup.controls.password.errors.required"
                class="text-danger">
                Mot de passe requis
              </div>
              <div *ngIf="formGroup.controls.password.dirty && formGroup.controls.password.errors&&formGroup.controls.password.errors.minlength" class="text-danger">
                Minimum 6 caractères
              </div>
            </div>
            <!-- Submit button -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>